{% extends "soil.html" %}


{% block table %}

<table id="data" class="table table-striped">
    <thead>
    <tr>
        <th>Row ID</th>
        <th>Pump ID</th>
        <th>Date</th>
        <th>Method</th>
    </tr>
    </thead>
    <tbody>   
    </tbody>
</table>


{% endblock %}


{% block scripts %}
{{super()}}
  <script>
    $(document).ready(function () {
      $('#data').DataTable({
        bProcessing: true,
        bServerSide: false,
        sPaginationType: "full_numbers",
        "pageLength": 10,
        lengthMenu: [[10, 25, 50, 100], [10, 25, 50, 100]],
        bjQueryUI: true,
        sAjaxSource: "/api/data/pumps",
        columns: [
            { data: 'Row ID' },
            { data: 'Pump ID' },
            { data: 'Date' },
            { data: 'Method', render: function (data, type, row) {return data === 0 ? "Manual" : "Automatic";} },
        ],
        order: [[0, 'desc']]
      });
    });
  </script>
{% endblock %}