{% extends "environment.html" %}


{% block table %}

  <table id="data" class="table table-striped">
    <thead>
    <tr>
        <th>Row ID</th>
        <th>Date</th>
        <th>Temperature</th>
        <th>Humidity</th>
        <th>Preassure(kPa)</th>
        <th>Gas Resistance(Ohms)</th>
        <th>AQI</th>
        <th>Soil 1</th>
        <th>Soil 2</th>
        <th>Soil 3</th>
        <th>Soil 4</th>
        <th>eCO2</th>
        <th>TVOC</th>
    </tr>
    </thead>
    <tbody>
         <!-- datatables will fill in data  -->
    </tbody>
    </table>


{% endblock %}

{% block scripts %}
{{super()}}
  <script>
    $(document).ready(function () {
      $('#data').DataTable({
        bProcessing: true,
        bServerSide: false,
        sPaginationType: "full_numbers",
        "pageLength": 10,
        lengthMenu: [[10, 25, 50, 100], [10, 25, 50, 100]],
        bjQueryUI: true,
        sAjaxSource: "/api/data/sensor",
        columns: [
            { data: 'Row ID' },
            { data: 'Date' },
            { data: 'Temp' },
            { data: 'Humidity' },
            { data: 'Pressure(kPa)' },
            { data: 'Gas Resistance(Ohms)' },
            { data: 'AQI' },
            { data: 'Soil 1' },
            { data: 'Soil 2' },
            { data: 'Soil 3' },
            { data: 'Soil 4' },
            { data: 'eCO2' },
            { data: 'TVOC' }
        ],  
        order: [[0, 'desc']]
      });
    });
  </script>
{% endblock %}